{% extends "home.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Manage Your Transactions</h2>

    <!-- Row for Tiles -->
    <div class="row">

        <!-- First Tile: View Expenses -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">View All Transactions</h5>
                    <p class="card-text">See a list of all your transactions.</p>
                    <a href="{{ url_for('view_expenses') }}" class="btn btn-primary">View Transactions</a>
                </div>
            </div>
        </div>

        <!-- Second Tile: Add Spending -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Add A Transaction</h5>
                    <p class="card-text">Add a new expense or income to your tracker.</p>
                    <a href="{{ url_for('add_expenses') }}" class="btn btn-success">Add a record</a>
                </div>
            </div>
        </div>

        <!-- Third Tile: Add Recurring Expenditure (Will move to next line on small screens) -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Add Recurring Transactions</h5>
                    <p class="card-text">Set up recurring expenses or incomes.</p>
                    <a href="{{ url_for('add_recurring_expense') }}" class="btn btn-warning">Add Recurring</a>
                </div>
            </div>
        </div>
        <!-- Fourth Tile: View Expenses -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">View Recurring Transactions</h5>
                    <p class="card-text">See a list of all your recurring transactions.</p>
                    <a href="{{ url_for('view_recurring_expenses') }}" class="btn btn-primary">View Recurring</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
